<div class="container-fluid p-3" >
    <h1 class="dispaly-4">Orders</h1>

  <div class="m-4">
    <table class ="table"> 
        <thead>
            <tr>
                <th>SNo</th>
                <th>Product</th>
                <th>Date</th>
                <th>Address</th>
                <th>Price</th>
                <th>quantity</th>
                <th>Total Price</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor ='let order of orders ; index as i'>
                <td>{{i+1}}</td>
                <td>{{order.product.name}}</td>
                <td>{{order.product.created_at | date}}</td>
                <td>{{order.address}}</td>
                <td>{{order.product.price}}</td>
                <td>{{order.product.quantity}}</td>
                <td>{{order.quantity * order.product.price}}</td>
                <td><span class="badge" [class.badge-warning] ='order.status=="pending"'
                    [class.badge-success] ='order.status=="completed"'>{{order.status}}</span></td>
            </tr>
        </tbody>

    </table>

  </div>
</div>