<div class="text-center mt-4">
    <form class="form-signin border rounded" method="POST" (submit) ="login($event)">
      <img class="mb-4" src="/assets/cart.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Login to your E-shop Account</h1>
      <hr>
    
      <p-class *ngIf ='error' class="alert alert-danger"> {{errorMessage}}</p-class>
      <p-class *ngIf ='success' class="alert alert-success"> {{successMessage}}</p-class>
      
        <!-- email-->
      <input type="email" id="inputEmail" name ="email" class="form-control" placeholder="Email address" required autofocus>
    
    
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name ="password" class="form-control" placeholder="Password" required>
        
      
      <button class="btn btn-lg btn-light border rounded btn-block" type="submit">Login</button>
    
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>
    </div>
    
    
    