<div>
    <div><h6> Category</h6>
        <div *ngFor ='let category of categories; index as i' class="custom-control custom-radio m-2">
            <input type="radio" value ={{category.id}} id="a{{i}}" name="category" class="custom-control-input">
            <label (click) ="categorySelected(category.id)" class="custom-control-label" for="a{{i}}">{{category.name}}</label>
          </div>
          
        <div>
            <h6>Price</h6>
            <hr>
            <select #minPrice name="min" (change)='setMaxValue(minPrice.value)' class= "form-control mb-2" id ="">
                <option value="-1">Min Price</option>
                <option *ngFor ='let m of min' value="{{m}}" class="value"></option>
            </select>
            <select name="max" class= "form-control mb-2" id ="">
                <option value="-1">Max Price </option>
                <option *ngFor ='let m of max' value="{{m}}" class="value"></option>
            </select>

            <div class="mb-2">
                <button class=" btn-block btn-sm btn-light border rounded">Filter</button>
            </div>
            
           
        </div>
      </div>